.image-cartes {
    height: 200px; /* Ajustez la hauteur comme vous le souhaitez */
    object-fit: contain; /* Pour ajuster la manière dont l'image est redimensionnée */
  }
  .bouton{
    background-color: white;
    border: none;
  }